
<ion-content class="ion-padding">
  <div class="login-card">
    <ion-card>
      <ion-card-header>
        <ion-title class="card-title">Adivina el Número</ion-title>
        <ion-card-title class="welcome-title">Bienvenido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
        <ion-button (click)="entrar()">Ingresar</ion-button>
        <p>
          ¿No tienes una cuenta? <a class="register-link" (click)="register()">Regístrate aquí</a>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>



