<ion-content class="ion-padding">
  <div class="register-container">
    <ion-card mode="ios">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Regístrate</ion-card-title>
        <ion-card-subtitle>Adivina el número</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form #frmRegistro="ngForm" (ngSubmit)="onClickRegistrar(frmRegistro)">
          <!-- Campo de Usuario -->
          <ion-item>
            <ion-label position="floating">Usuario <span class="required">*</span></ion-label>
            <ion-input [(ngModel)]="usuario" type="text" name="username" required></ion-input>
          </ion-item>
          <div *ngIf="frmRegistro.submitted && !usuario" class="error-message">
            El campo usuario es obligatorio.
          </div>
          <!-- Campo de Correo -->
          <ion-item>
            <ion-label position="floating">Correo <span class="required">*</span></ion-label>
            <ion-input [(ngModel)]="correo" type="email" name="email" required></ion-input>
          </ion-item>
          <div *ngIf="frmRegistro.submitted && !correo" class="error-message">
            El campo correo es obligatorio.
          </div>
          <!-- Campo de Contraseña -->
          <ion-item>
            <ion-label position="floating">Contraseña <span class="required">*</span></ion-label>
            <ion-input
              [(ngModel)]="password"
              [type]="passwordVisible ? 'text' : 'password'"
              name="password"
              required
            ></ion-input>
            <ion-icon
              slot="end"
              [name]="passwordVisible ? 'eye-off' : 'eye'"
              (click)="togglePasswordVisibility()"
            ></ion-icon>
          </ion-item>
          <div *ngIf="frmRegistro.submitted && !password" class="error-message">
            El campo contraseña es obligatorio.
          </div>
          <br />
          <!-- Botón de Registro -->
          <ion-button type="submit" expand="block" color="primary">
            Registrarse
          </ion-button>
        </form>
        <!-- Enlace para iniciar sesión -->
        <div class="login-link">
          <ion-label>
            ¿Ya tienes una cuenta?
            <a routerLink="/login">Inicia sesión aquí</a>
          </ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
